<h1><%= title %></h1>

<ul class="list-group w-auto">
  <% if(data){ data.forEach((book)=>{ %>
  <li class="list-group-item list-group-item-action d-flex gap-3 py-1">
    <%= book.author.name %>
    <div class="vr"></div>
    <a href="<%= book.url %>"><%= book.title %></a>
  </li>
  <% })} %>
</ul>
