<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap/icons/bootstrap-icons.css" />
    <script src="/bootstrap/js/bootstrap.bundle.js" defer></script>
  </head>
  <body class="h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div
          class="sidebar-nav col-sm-3 d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto gap-3 text-white text-decoration-none"
            ><i class="bi bi-book fs-4"></i>
            <span class="fs-4">Local Library</span>
          </a>
          <hr />
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link text-white active" href="/catalog"
                ><i class="bi bi-house"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/catalog/books">
                <i class="bi bi-bookshelf"></i> All Book
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/catalog/authors">
                <i class="bi bi-person-lines-fill"></i> All Authors
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/catalog/genres">
                <i class="bi bi-list"></i> All Genres
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/catalog/bookinstance">
                <i class="bi bi-journals"></i> All Book Instances
              </a>
            </li>
            <li class="nav-item">
              <hr />
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/catalog/author/create">
                <i class="bi bi-plus-lg"></i> Create New Author
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/catalog/genre/create">
                <i class="bi bi-plus-lg"></i> Create New Genre
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/catalog/book/create">
                <i class="bi bi-plus-lg"></i> Create New Book
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white"
                href="/catalog/bookinstance/create"
              >
                <i class="bi bi-plus-lg"></i> Create New Book Instance
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9"><%- body -%></div>
      </div>
    </div>
  </body>
</html>
